* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #2F2A0C;
  --text: #E7C235;
  --secondary: #AE9B2D;
}

html {
  font-family: "Roboto Mono", sans-serif;
  background: var(--bg);
  color: var(--text);
}
